@use "mixin.scss" as mixinTools;
@use "globals.scss" as *;

// Común a todas las páginas
//region
main {
  margin: 0 150px;
  text-align: justify;
}

#nombreWeb {
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  text-decoration: underline;
}
//endregion

// Index
//region
#mainIndex {
  margin: 0 2rem 0 2rem;
  img {
    border-radius: 2em;
    margin: 0;
    cursor: crosshair;
  }

  a[href*="novedades"]:not(.dropdown-item) {
    color: $color_texto;
    text-decoration: none;
    font-size: 1.1em;
    text-align: center;

    &:hover {
      @include mixinTools.SetBackgroundAndTextColor($color_texto_hover, $color_fondo_hover);
      @include mixinTools.SetTransition(all 1s ease-in-out);
    }
  }
}
//endregion

