//region Común a todas las páginas
main {
  text-align: justify;
}

#nombreWeb {
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  text-decoration: underline;
}

#barrabusq, #barrabusq2 {
  border: 1px solid black;
}

footer {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

//endregion

//region Index
#mainIndex {
  margin: 0 2rem 0 2rem;
  img {
    border-radius: 2em;
    margin: 0;
    cursor: crosshair;
  }

  a[href*="novedades"]:not(.dropdown-item) {
    color: #333;
    text-decoration: none;
    font-size: 1.1em;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }
}
//endregion

//region Páginas de contenido
.btn-favoritos {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin-top: 10px;

  img {
    width: 25px;

    &:hover {
      transform: scale(1.2);
    }
  }
}
//endregion